@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">こんにちは</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">ASP.NET Coreを使用したWebアプリの構築</a>について学ぶ。</p>
</div>